

@font-face { /*http://openfontlibrary.org/en/font/jose-carlos-latorre*/
	font-family: 'Jose';
	src: url("Assets/Jose.woff") format('woff'),
       url("Assets/Jose.woff2") format('woff2'),
       url("Assets/Jose.ttf") format('truetype');
}

body {
	text-align: center;
}

p {
	font-family: "Jose", Fallback, sans-serif;
	font-size: 20px;
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#btn {
	cursor: pointer;
}

#page {
	position: relative;
	left: 0;
	top: 0;
}
